<% const author = site.authors[page.author]; %>
<div class="author">
  <div>
    <a href="/"><img class="avatar" src="<%= author.avatar %>" alt="Avatar photo"></a>
  </div>
  <div>
    <p class="head-blog">Manvel Saroyan</p>
    <h1><%= author.name %></h1>
    <p>
      <% include _social %>
    </p>
  </div>
</div>
