<section class="author">
  <% const author = authors[page.author]; %>
  <div>
    <h1>Author <img class="avatar" src="<%= author.avatar %>" alt="Avatar photo"></h1>
    <p><%= author.name %></p>
  </div>

  <p>
    <% include _social %>
  </p>
</section>