<input id="navigation-menu-toggle" type="checkbox">
<div role="dialog">
  <div class="container">
    <ul>
      <% include _navigation %>
      <li>
        <% const author = site.authors[site.authors.default]; %>
        <%- include("author/_social", {author: author}); %>
      </li>
    </ul>
  </div>
</div>
<label for="navigation-menu-toggle"></label>