<div class="justify-between">
  <% include author/_blog %>
  <nav class="desktop-hide hamburger">
    <% include _hamburger %>
  </nav>
</div>
<nav class="tablet-hide">
  <ul>
    <% include _navigation %>
  </ul>
</nav>