<div class="meta-post">
  <% if (page.date) { %>
    <time><%- new Date(page.date).toLocaleDateString("en-UK", {day: "numeric", month: "short", year: "numeric"}) %></time>
  <% } %>
  <% if (page.tags) { %>
    <span class="separator">|</span>
     <em>
      <% page.tags.forEach((tag, index) => { %>
        <a href="/tag/<%- tag %>"><%- tag %></a><% if(index != page.tags.length -1) {%>, <% } %>
      <% }); %>
     </em>
  <% } %>
</div>
