<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head/_index %>
  </head>
  <body class="post">
    <header>
      <div class="desktop-hide justify-between">
        <% include author/_blog %>
        <% include _hamburger %>
      </div>
      <nav class="tablet-hide">
        <hr>
        <ul>
          <% include _navigation %>
        </ul>
        <hr>
      </nav>
    </header>
    <main>
      <article>
        <h1><%= page.title %></h1>
        <% if (page.subtitle) { %> <small class="subtitle"><%= page.subtitle %></small> <% } %>
        <% include _meta-post %>
        <%- page.body %>
        <% if (page.author) { %>
          <% include author/_post %>
        <% } %>
      </article>
    </main>
  </body>
</html>
