<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head/_index %>
  </head>
  <body class="post">
    <header>
      <% include _header %>
    </header>
    <main>
      <article>
        <h1><%= page.title %></h1>
        <% if (page.subtitle) { %> <small class="subtitle"><%= page.subtitle %></small> <% } %>
        <% include _meta-post %>
        <%- page.body %>
        <% if (page.author) { %>
          <% include author/_post %>
        <% } %>
      </article>
    </main>
  </body>
</html>
