<nav class="desktop-hide hamburger">
  <input id="navigation-menu-toggle" type="checkbox">
  <div role="dialog">
    <% include _navigation %>
  </div>
  <label for="navigation-menu-toggle"></label>
</nav>