<!DOCTYPE html>
<html lang="en">
  <head>
    <% include head/_index %>
  </head>
  <body>
    <header>
      <% include _header %>
    </header>
    <main>
      <% const tag = page.pathname.replace("tag/", "").toLowerCase(); %>
      <% const posts = site.queryPages((data) => data.tags && data.tags.includes(tag)).sort((a, b) => new Date(b.date) - new Date(a.date)) %>
      <%- include("_load-posts", {posts}) %>
    </main>
  </body>
</html>
