body
{
  color: @primary;
  font-family: "Roboto", sans-serif;
  padding: 20px;
}

h1, h2, h3, strong
{
  font-weight: bold;
}

article
{
  a
  {
    &:hover:not(.post-title)
    {
      text-decoration: underline;
    }
    text-decoration: none;
    color: @tertiary;
  }
  h1
  {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  h2
  {
    a
    {
      &:hover
      {
        filter: brightness(80%);
      }
      transition: filter 0.1s ease-out;
      color: @secondary;
    }
    color: @primary;
    font-size: 1.6rem;
  }
  h3
  {
    color: @primary;
    font-size: 1.4rem;
  }
  p
  {
    margin-top: 1.4rem;
  }
  img
  {
    max-width: 50%;
    float: left;
    padding: 10px;
  }
  iframe
  {
    margin-top: 1.5rem;
    max-width: 100%;
  }
  ul
  {
    margin-top: 1rem;
    list-style-position: outside;
    padding-left: 1.5rem;
  }
  li
  {
    margin-top: 0.5rem;
  }
  code
  {
    font-family: monospace;
    background-color: #f7f7f7;
    padding: 0.2rem;
  }
  pre code
  {
    font-size: 1rem;
    line-height: 1.2rem;
    display: block;
    padding: 1rem;
    margin-top: 1.5rem;
    overflow: hidden;
    overflow-x: auto;
  }
  .subtitle
  {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 12px;
    font-weight: bold;
  }
  .meta-post
  {
    time, em
    {
      color: @tertiary;
    }
    margin: 12px 0px;
    font-size: 12px;
  }
  .social
  {
    img
    {
      padding: 0px;
      max-width: none;
    }
    vertical-align: middle;
    display: inline-block;
  }
  margin-top: 44px;
  line-height: 1.7rem;
  font-size: 1.1rem;
}

.post
{
  img
  {
    &.full-width
    {
      max-width: 90%;
      float: none;
    }
    &.right
    {
      float: right;
    }
  }
  h2, h3, h4
  {
    a
    {
      color: @primary;
    }
    margin-top: 1.8rem;
  }
}

@media (max-width: @tablet-width)
{
  .post article
  {
    margin-top: 10px;
  }
}
