body
{
  margin: 0px auto;
  max-width: 600px;
}

.post
{
  main, aside
  {
    display: inline-block;
    vertical-align: top;
  }
  #main-wrapper
  {
    display: flex;
    justify-content: space-between;
  }
  main
  {
    max-width: 600px;
  }
}

@media (min-width: @tablet-width)
{
  .desktop-hide
  {
    display: none;
  }
}

@media (max-width: @tablet-width)
{
  .tablet-hide
  {
    display: none;
  }
}
