@import "_reset.less";

body
{
  color: #5a5a5a;
  font-family: "Roboto", sans-serif;
  margin: 0px auto;
  max-width: 600px;
}

h1, h2
{
  font-weight: bold;
}

header
{
  .head-blog
  {
    color: #6d6d6d;
    font-size: 14px;
  }
  .social img
  {
    width: 30px;
  }
  p:not(:last-of-type), h1
  {
    margin-bottom: 10px;
  }
  > div
  {
    margin-inline-end: 20px;
    -webkit-margin-end: 20px;
  }
  h1
  {
    font-size: 18px;
  }
  margin-top: 30px;
  display: flex;
  align-items: center;
}

article
{
  a
  {
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }
  h2
  {
    font-size: 24px;
  }
  p
  {
    line-height: 120%;
    font-size: 16px;
    margin-top: 22px;
  }
  footer
  {
    time, em
    {
      color: #2F80ED;
    }
    margin-top: 16px;
    font-size: 12px;
  }
  margin-top: 40px;
  font-size: 30px;
}

#avatar
{
  border-radius: 50%;
  border: solid 1px black;
  width: 100px;
}
