@import "_reset.less";
@import "_variables.less";
@import "_author.less";
@import "_content.less";
@import "_layout.less";
@import "_navigation.less";

.social img
{
  width: 24px;
  vertical-align: middle;
}

.justify-between
{
  display: flex;
  justify-content: space-between;
}

.self-center
{
  align-self: center;
}
